@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Welcome to Waqq.Ly</h1>
        <p>Waqq.Ly is a social network for dog owners and dog walkers. It helps dog owners find dog walkers in their area and dog walkers find clients.</p>
        <p>Sign up today to start connecting with other dog owners and dog walkers!</p>
    </body>
</html>